@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rowdies:wght@300;400;700&display=swap");

$color-primary: #ffffff;
$color-secondary: rgba(0, 75, 99, 1);
$color-secondary-hover: #f1c944;
$color-tertiary: #0000ff;
$color-tertiary-hover: #f8f8f8;
$color-quarternary: #fd4581;
$color-quarternary-hover: #bf6966;
$background-color: #f1f1f9;
$color-dark: #000000;
$color-gray: #383434;
$item-count: 3;
$circle-size: 320px;
$item-size: 104px;

$font-primary: "Poppins",
sans-serif;
$font-secondary: "Rowdies",
cursive;

$font-p-size: 1rem;
